.dynamic-content {
    display:none;
}

#pict {
	height:275px;
	margin:0 0 10px 0;
}

.slides_container {
	overflow:hidden;
	position:relative;
}

h1,h2,h3 {
	font:bold 16px Verdana, Arial, Helvetica, sans-serif;
	margin:5px 0 5px 0;
}

h1.judul {
	color:white;
	display:block;
	border-bottom:grey 1px solid;
	padding:0 0 3px 0;
	line-height:30px;
	margin:0 5px 0 5px;
}

p1.tgl {
	color:white;
	display:block;
	padding:0 0 3px 0;
	float:right;
	margin:0 15px 0 5px;
}

p2 {
	font:bold 14px Verdana;
	margin:5px 
}

.share {
	font: bold 10px verdana;
}

#pict2 {
	height:275px;
	margin:10px 0 80px 0;
	
}
	
#pict3 {
	height:275px;
	margin:10px 0 60px 0;
}

#pict4 {
	height:275px;
	margin:10px 0 93px 0;
}
	
span.abu {
	color:grey;
}

span.by {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:grey;
}